<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/bootstrap-3.3.7-dist/jquery-2.1.1.min.js"></script>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    @RenderSection("styles", false)
    @RenderSection("scripts", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>

</html>
